@charset "UTF-8";

:root {
	--table-header-color: #2f2f2f;
	--navbar-height: 70px;
	--navbar-font-color: #d8d8d8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: var(--navbar-height);
}

.main-navbar {
    border-radius: 0px;
    min-height: var(--navbar-height);
    font-size: 1.2em;
    font-weight: 400;
}

.navbar-title {
    font-size: 1.5em;
    font-style: italic;
    color: var(--navbar-font-color) !important;
    padding: 0 15px;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

.navbar-toggle {
  margin-top: 20px;
  padding: 9px 10px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: var(--navbar-font-color);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #383838;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
	    padding-top: 21.5px;
	    padding-bottom: 21.5px;
	    line-height: 27px;
    }
}

.panelTitle {
	font-size: 1.8em;
	font-weight: bold;
}

.myTableHeader {
	border-top-color: var(--table-header-color);
}

.myTableHeader thead tr th {
	background-color: var(--table-header-color);
	border-color: var(--table-header-color);
	color: white;
}
